#app {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 15% 20% 50% 15%;
  width: 826px;
  height: 936px;
}

.box {
  width: 90%;
  height: 90%;
}

#fish-flag {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

#map {
  display: grid;
  grid-column: 1 / span 2; 
  grid-row: 2 / span 1;
}

#quadropus {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}
#vase-short {
  display: grid;
  grid-column: 3 / span 1; 
  grid-row: 1 / span 2;
}
#vase-tall {
display: grid;
grid-column: 1 / span 1;
grid-row: 3 / span 2;
}


#bamboo {
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}
